[client]
user={{ mysql_user }}
password={{ mysql_pass }}
host={{ mysql_host }}
port={{ mysql_host_port | default(3306) }}
socket={{ mysql_socket | default() }}
default-character-set=utf8

[mysql]
user= {{ mysql_user }}
password={{ mysql_pass }}
host={{ mysql_host }}
port={{ mysql_host_port | default(3306) }}
socket={{ mysql_socket | default() }}
default-character-set=utf8

[mysqladmin]
user= {{ mysql_user }}
password={{ mysql_pass }}
host={{ mysql_host }}
port={{ mysql_host_port | default(3306) }}
socket={{ mysql_socket | default() }}
default-character-set=utf8
